#container{
    width: 33vw;
    margin: 4rem auto;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

input[type = "text"]{
    height: 50px;
    width: 100%;
    font-size: 20px;
    color: aqua;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
    font-size: 30px;
}

input[type="checkbox"]{
    zoom: 2;
}

.end{
    text-decoration: line-through;
    color: orange;
    font-style: oblique;
}
.btn{
    color: red;
    margin-left: 143px;
    padding: 3px 28px 1px 27px;
    border-radius: 44px;
    font-size: 29px;
    border-width: 4px;
    border-color: red;
    position: relative;
}

.delete{
    display: none;
}